* {
	font-family: Arial, sans-serif;
	font-size: 0.95em;
	margin: 0;
}
body {
	background-color: #fff;
}
.site, html {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.site-content {
	flex: 1;
	/*ie10 tweener syntax from Philip Walton*/
	-ms-flex-preferred-size: auto;

	@include breakpoint("large") {
    padding-top: 2em;
  	}
}
#header {
	background-color: #cc1b5c;
	padding: 100px 0 20px 0;
	margin: 0 0 10px 0;
}
#header img {
	display: block;
	margin: auto;
}
#header div {
	background-color: #fff;
}
.nav ul {
	width: 880px;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}
.nav li {
	display: inline-block;
	height: 45px;
	width: 150px;
	background-color: #cc1b5c;
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	padding: 20px 9px 0 9px;
	margin: 0 2px;
	text-align: center;
	border-radius: 5px;
}
a {
	color: #fff;
	text-decoration: none;	
}
li:hover {
	color: white;
	background-color: #54deff;
}
li:active {
	color: white;
	background-color: #ffee3b;
}
.main {
	display: block;
	margin: 0 auto;
	padding: 5px 0;
	width: 875px;
}
.main img {
	display: block;
	margin: 5px auto 0 auto;
	width: 870px;
}
.main div div {
	display: inline-block;
	height: 50px;
	width: 288px;
	text-align: center;
	vertical-align: text-top;
	padding: 15px 0;
}
h2 {
	text-align: center;
	font-size: 1.2em;
}
.main div div p {
	width: 245px;
}
#footer {
	height: 60px;
	padding-top: 20px;
	margin: 10px 0 0 0;	
	background-color: #cc1b5c;
	color: #fff;
	font-size: 0.95em;
}
#footer div {
	height: 60px;
	width: 875px;
	margin: auto;
}
.address {
	display: block;
	float: left;
}
.copyright {
	display: block;
	float: right;
}