* {
	font-family: Arial, sans-serif;
	font-size: 0.95em;
	margin: auto;
	/*border: 1px solid black;*/
}
body {
	background-color: #fff;
}
#header {
	background-color: #CC1B5C;
	padding: 100px 0 20px 0;
	margin: 0 auto 10px auto;
}
#header img {
	display: block;
}
#header div {
	background-color: #fff;
}
.nav ul {
	width: 880px;
	display: block;	
	padding: 0;
	margin: 0 auto;
	text-align: center;
}
.nav li {
	display: inline-block;
	height: 45px;
	width: 150px;
	background-color: #CC1B5C;
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	padding: 20px 9px 0 9px;
	margin: 0 2px;
	text-align: center;
	border-radius: 5px;
}
a {
	color: #fff;
	text-decoration: none;	
}
li:hover {
	color: white;
	background-color: #54DEFF;
}
li:active {
	color: white;
	background-color: #FFEE3B;
}
.main {
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 5px 0;
	width: 875px;
}
.main img {
	display: block;
	margin: 5px auto 0 auto;
	width: 870px;
}
.main div div {
	display: inline-block;
	height: 50px;
	width: 288px;
	text-align: center;
	vertical-align: text-top;
	padding: 15px 0;
}
h2 {
	text-align: center;
	font-size: 1.2em;
}
.main div div p {
	width: 245px;
}
#footer {
	display: block;
	margin: 10px auto 0 auto;
	height: 70px;
	padding-top: 20px;
	background-color: #CC1B5C;
	color: white;
	font-size: 0.95em;
}
#footer div {
	height: 60px;
	width: 875px;
}
.address {
	display: block;
	float: left;
}
.copyright {
	display: block;
	float: right;
}